display: flex;
flex: 1;
flex-direction: row;
overflow: hidden;
padding-top: 10px;

> .thread {
    flex: 1;
    overflow-y: scroll;
}

.message {
    margin-bottom: 0.75em;
}

.nick {
    font-weight: bold;
}

.emote .nick::after {
    content: ' ';
}

.children {
  margin-left: 2em;
}

.user-list {
    overflow-y: scroll;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 220px;

    .nick {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
