@thread-indent: 2rem;
@message-spacing: 5px;
@room-sidebar-width: 180px;

flex: 1;
display: flex;
flex-flow: column nowrap;
height: 100%;
z-index: 5;

.dropshadow();

.room-header {
  .dropshadow();

  flex: 0 0 @room-header-height;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  background: @bg1;
  border-top: @topborder-height solid @fg0;
  border-bottom: 1px solid #c5cbd0;
  z-index: 10;

  .spacer {
    flex: auto;
  }

  .row {
    flex: 1;
    display: flex;
    flex-direction: row;

    .center {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
    }
  }

  .room {
    flex: 1;

    margin-left: 2rem;
    margin-right: -1px;
    border-right: 1px solid #eee;
    z-index: 1;

    .room-name {
      color: @fg1;
      display: block;
      font-size: 2.5em;
      font-weight: 800;
    }
  }

  .user-summary {
    display: flex;
    flex-direction: row;

    .content {
      flex: 1;
    }
  }

  .room-sidebar {
    flex: 0 0 @room-sidebar-width;
    background: @bg3;
    color: #777;
    text-align: center;

    .people {
      color: @fg1;

      .number {
        font-size: 1.2rem;
        font-weight: 600;
      }

      .number:before {
        content: '';
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.2rem;
        background: data-uri('../res/euphorian.svg') no-repeat center center;
        background-size: contain;
        opacity: 0.75;
      }
    }

    .handle {
      flex: 0 0 26px;
      display: flex;
      flex-direction: column;

      background-color: @bg4;
      background-image: data-uri('../res/triangle.svg');
      background-position: center center;
      background-size: 20px 10px;
      background-repeat: no-repeat;
      transform: scaleY(-1);

      div {
        flex: 1;
        background-color: @bg4;
        mix-blend-mode: hue;
      }
    }

    &.activated .handle {
      transform: none;
    }
  }
}

.chat-room-content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.nick {
  line-height: 1.2;
  margin-right: @nick-horizontal-padding;
}

.message {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  overflow: hidden;

  .content-and-time {
    flex: 1;
    line-height: 1.2;
    overflow: hidden;
    overflow-wrap: break-word;
  }

  .content {
    display: inline-block;
    padding-top: @nick-vertical-padding;
    padding-bottom: 1pt; // to keep descenders in multiline messages from getting cut off
    white-space: pre-wrap;
  }

  &.emote {
    .nick {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: 0;
    }

    .content-and-time {
      .content {
        @scale: 0.8;
        @vpadding1: calc((1-@scale)*@base-font-size ~"+" @nick-vertical-padding);
        font-size: @scale*1rem;
        padding: @vpadding1 @nick-horizontal-padding @nick-vertical-padding @nick-horizontal-padding;
      }
    }
  }
}

.children {
  padding-left: @thread-indent;

  &.top {
    flex: 1 1;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 0;
    padding: 0.5rem 0 0 0;
    z-index: 1;

    > .thread {
      margin-bottom: 0;

      > .children {
        padding-bottom: 0;

        > .chat-entry {
          margin-right: 0;
          padding-right: 0;

          .chat-entry-row {
            margin-left: -@thread-indent;
            padding-left: @thread-indent;
            padding-bottom: 0;
          }
        }

        > .thread {
          padding-right: 0.5rem;
        }
      }
    }
  }
}

.thread {
  padding-top: @message-spacing;
}

.chat-entry {
  @hpad: 0.5rem;
  line-height: 1.6em;
  margin-right: -0.5rem;
  padding-top: @message-spacing;

  .chat-entry-row {
    .dropshadow();

    border-bottom: 3px solid fade(green, 50%);
    display: flex;
    flex-flow: row wrap;
    align-items: top;
    margin-left: -@nick-horizontal-padding;
    padding-left: @nick-horizontal-padding;
    padding-bottom: @nick-vertical-padding;
  }

  .nick {
    margin-top: @message-spacing;
    flex: 0;
  }

  .editor {
    flex: 1;
  }

  textarea {
    border: none;
    resize: none;
    font-family: @main-font;
    font-size: @base-font-size;
    height: 1.6em;
    padding: 0 0 0 0;
    margin-top: @message-spacing;
    width: 100%;

    &:focus {
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
    }

    &.measure {
      position: absolute;
      left: -9999px;
    }
  }
}

.room-sidebar {
  flex: 0 0 @room-sidebar-width;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  .users {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-flow: column nowrap;
    background: @bg2;
    border-left: 1px solid @fg2;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .user-list {
      flex-shrink: 1;

      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;

      margin-bottom: 5pt;
    }

    .user {
      padding-bottom: @nick-vertical-padding;
      padding-top: @nick-vertical-padding;
      overflow: hidden;
    }

    .nick {
      text-overflow: ellipsis;
    }
  }
}

.auth {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background: rgba(255, 255, 255, 0.9) data-uri('../res/hatching.svg');
  background-repeat: repeat;
  background-blend-mode: overlay;

  .spacer {
    flex: 1;
  }

  .room-name {
    color: @fg1;
    font-weight: 800;
  }

  form {
    .dropshadow();

    flex: 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    background: white;
    opacity: 1;

    padding: 1rem 1rem 1rem 1rem;
    border: 1px solid @fg2;

    div, input {
      flex: 0 0 3rem;
      display: block;
      text-align: center;
    }

    input {
      flex-basis: auto;
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .failure {
      flex: 0 0 3rem;
      color: red;
      font-weight: 600;
    }
  }
}

.embeds {
  flex: 1 0 153px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  vertical-align: top;
}

.embed {
  flex: 0 0 204px;
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 3px;
  line-height: 0;
  font-size: 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.65) inset;
    z-index: 10;
  }

  iframe {
    border: none;
    border-radius: 3px;
    height: 153px;
    max-width: 272px;
    width: 100%;
  }
}
