@import 'emoji';

@main-font: 'Open Sans', sans-serif;
@base-font-size: 11pt;

@sidebar-width: 240px;
@topbar-height: 100px;
@topborder-height: 8px;

@nick-horizontal-padding: 0.3rem;
@nick-vertical-padding: 0.2rem;

@bg0: hsl(204, 24%, 96%);
@bg1: hsl(204, 100%, 97%);
@bg2: hsl(204, 100%, 99%);
@bg3: hsl(204, 67%, 94%);
@bg4: hsl(204, 57%, 91%);

@fg0: hsl(204, 55%, 55%);
@fg1: hsl(204, 82%, 33%);
@fg2: hsl(204, 32%, 86%);

.dropshadow() {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

html, body, #app {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: @main-font;
  font-size: @base-font-size;
}

.app-container {
  display: flex;
  flex-flow: row nowrap;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.chat-room {
  @import 'chat';
}

.nick {
  display: inline-block;
  border-radius: 3px;
  padding: @nick-vertical-padding @nick-horizontal-padding @nick-vertical-padding @nick-horizontal-padding;
  white-space: nowrap;
}

h1 {
  color: #999;
  font-variant: small-caps;
  font-weight: 400;
  font-size: larger;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

time {
  color: #999;
  font-size: small;
  margin-left: 0.5em;
}

.rooms {
  @import 'room-list';
}

#app > .embed-page {
  @import 'embed';
}
